services:
  postgres:
    container_name: postgres
    image: postgres:16-alpine
    restart: always
    environment:
      TZ: "${TZ:-America/Caracas}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - postgresdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "${POSTGRES_EXT_PORT:-5432}:5432"
    networks:
      - appnet

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: "${PGADMIN_DEFAULT_EMAIL}"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_DEFAULT_PASSWORD}"
      PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - pgadmindata:/var/lib/pgadmin
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    depends_on:
      - postgres
    networks:
      - appnet

  redis:
    container_name: redis
    image: redis:7.4.0-alpine
    restart: always
    volumes:
      - redisdata:/data
    networks:
      - appnet
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "${REDIS_EXT_PORT:-6379}:6379"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: nestjs_backend
    image: nestjs_backend_prod
    restart: always
    ports:
      - "${BACKEND_PORT:-3000}:3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 60s
      timeout: 15s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    links:
      - postgres
      - redis
    env_file:
      - .env
    volumes:
      - uploads:/usr/src/app/uploads
      - ./tmp:/usr/src/app/tmp
    command: npm run start:prod
    networks:
      - appnet

  nginxpm:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx_proxy_manager
    restart: always
    ports:
      - "80:80"          # HTTP
      - "81:81"          # Admin interface
      - "443:443"        # HTTPS
    volumes:
      - nginxpm-data:/data
      - nginxpm-letsencrypt:/etc/letsencrypt
    networks:
      - appnet

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  postgresdata:
    name: onenglish-postgresdata
    external: false
  pgadmindata:
    name: onenglish-pgadmindata
    external: false
  redisdata:
    name: onenglish-redisdata
    external: false
  uploads:
    name: onenglish-uploads
    external: false
  nginxpm-data:
    name: npm-data
    external: false
  nginxpm-letsencrypt:
    name: npm-letsencrypt
    external: false
  portainer_data:
    name: portainer_data
    external: false
