services:
  postgres:
    container_name: postgres
    image: postgres:16-alpine
    restart: always
    environment:
      TZ: "${TZ:-America/Caracas}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - postgresdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "${POSTGRES_EXT_PORT:-5432}:5432"
    networks:
      - appnet

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: "${PGADMIN_DEFAULT_EMAIL}"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_DEFAULT_PASSWORD}"
      PGADMIN_CONFIG_SERVER_MODE: "False"
    volumes:
      - pgadmindata:/var/lib/pgadmin
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    depends_on:
      - postgres
    networks:
      - appnet

  redis:
    container_name: redis
    image: redis:7.4.0-alpine
    restart: always
    volumes:
      - redisdata:/data
    networks:
      - appnet
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    ports:
      - "${REDIS_EXT_PORT:-6379}:6379"

networks:
  appnet:
    driver: bridge

volumes:
  postgresdata:
    name: onenglish-postgresdata
    external: false
  pgadmindata:
    name: onenglish-pgadmindata
    external: false
  redisdata:
    name: onenglish-redisdata
    external: false

